body {
  background-color: #fff;
}
.Bg-field {
  background-color: #272727;
  color: #272a31;
  text-align: center;
}

.toDo-list {
  width: 60%;
  background-color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro {
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
  align-items: center;
}

.enter-records {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.inputs-field {
  height: 3rem;
  border: none;
  outline: none;
  padding-inline: 2rem;
  width: 80%;
}

.input2 {
  height: 3rem;
  outline: none;
  padding-inline: 0.2rem;
  width: 80%;
  font-size: 1.5rem;
  color: #272a31;
}

.add-btn {
  height: 3rem;
  width: 3rem;
  color: #272a31;
  font-size: 2.5rem;
  background-color: #fff;
  border: none;
}

.each-aspects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  background-color: #fff;
}

.left-objects {
  display: flex;
  gap: 0.5rem;
}

#clear-btn {
  height: 2.5rem;
  border: none;
}